.banner{
    /* // this  is new for me this property mix the two color right to left*/
    /* background-image:linear-gradient(to right,blue,orange); */
    background-image: url("../../Images//homeimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    
}

.banner button{
   padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    transition: all 0.5s;
}
.banner button:hover{
    background-color:rgb(226, 203, 226);
    color: rgb(29, 25, 25);
}
.banner::after{

    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 78%, 0% 100%, 100% 100%);
    max-width: 100%;
}
.HomeHeading{
    text-align: center;
    border-bottom: 1px solid black;
    width: 20vmax;
    padding: 1vmax;
    margin:5vmax auto;
}
.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    /* background-color: rgb(252, 233, 225); */
    border: 1px solid black;
    border-radius: 30px;
}
.productCard >img{
    width: 14vmax;
}
.productCard >div{
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
}
.productCard >div>span{
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
}
.productCard >p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vmax;
    margin:1vmax 0.5vmax;
    margin-bottom: 0;
}
.productCard >span{
    margin: 0.5vmax 0.5vmax;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vmax;
}
.productCard:hover{
    box-shadow: 0 0 5px black;
    transform: translateY(-1vmax);
}

@media screen and (max-width:600px) {
    .productCard >p{
        font-size: 1.7vmax;
    }
    .productCard >div{
        margin: 0vmax;
        display: block;
    }
    .productCard >span{
        font-size: 1.5vmax;
    }
    .productCard >div >span{
        margin: 0 0.5vmax;
        font-size: 300 1vmax;
    }
}

















/* // by css grid */
/* .container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 6vw;
    row-gap: 20px;
    justify-content: center;
}
.productCard{
    margin-right: 20px;
    background-color: rgb(228, 223, 223);
    text-align: center;
   transition: all 0.2s;
   border: 3px solid black;
}
.productCard >img{
    width: 5vmax;
}
.productCard:hover{
    box-shadow: 10px;
    transform: translate(-1vmax);
} */