*{
    margin: 0;
    scroll-behavior: smooth;
}
.RedColor{
    color: red;
}
.GreenColor{
    color:green
    ;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

  -webkit-appearance: none;
  margin: 0;

}